body {
	background-image: url(http://i.stack.imgur.com/7YKUD.jpg)
}
div, table {
	background-color: white;
	border-radius: 10px;
}
h1,h2, p {
	text-align: center;
}
#submission, #employeeContainer {
	float: left;
	border: 1px solid black;
	width: 400px;
	height: 158px;
	margin: 0 2px 2px auto;
	padding: 5px 5px 5px 5px;
}
#employeeContainer {
	margin: 0 auto 0 auto;
	float:right;
	width: 800px;
	height: auto;
}
#salaryContainer {
	clear: left;
	float: left;
	border: 1px solid black;
	width: 400px;
	height: 160px;
	margin: 2px 0 0 0;
	padding: 5px 5px 5px 5px;
}

th{
	border: solid 1px black;
	min-width: 100px;
}

td {
	border: dashed 1px black;
	height: 15px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}
td button {
	margin: 0 auto 0 auto;
	width: 100px;
}

label{
	display: inline-block;
	padding: 2px 2px 2px 2px;
	width: 150px;
}

#submit {
	width: 315px;
}
input{
	display: inline-block;
	margin: 0 auto 5px auto;
	width: 150px;
}
