h1,h2, p {
	text-align: center;
}
#submission, #salaryContainer, #employeeContainer {
	float: left;
	border: 1px solid black;
	width: 160px;
	height: 250px;
	margin: 0 auto 0 auto;
	padding: 5px 5px 5px 5px;
}


#employeeInfo label{
	display: block;
	padding: 2px 2px 2px 2px;
	width: 150px;
}
#employeeInfo input{
	display: block;
	margin: 0 auto 5px auto;
	width: 150px;
	}